<div class="row">
  <div class="large-9 large-8 columns">

		<h1>Bride Bidder</h1>
		<p>Find me in app/views/static_pages/home.html.erb</p>
		<a href="/quotes/new" class="large button">Get a Quote</a>
	</div>
</div>